<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<center>
<form action="login">
    Enter Your Email:- <input type="text" name="email" placeholder="Email"><br><br>
    Enter your Password <input type="password" name="pass" placeholder="Password" ><br><br>
    <font color="red"> {{ error }} </font><br><br>
    <button type="submit">
							Sign in
    </button><br>
    <a href="signup">Sign up</a><br>
    <a href="Forgot_Password">Forgot Password</a>
</form>
</center>
</body>
</html>