<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>
<center>
<form action="adduser">

    Name:-<input type="text" name="name" placeholder="Name"><br><br>
    Email:-<input type="text" name="email" placeholder="Email" ><br><br>
    Password:-<input type="password" name="password" placeholder="Password"><br><br>
    <font color="red"> {{ error }} </font><br><br>
     <button type="submit">
							Sign in
    </button><br>

</form>
</center>
</body>
</html>