<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BUG ENTRY</title>
</head>
<body>

   <!-- Modal -->
  <div class="modal fade " id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4>Bug Entry</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px; overflow-y:scroll;  max-height:500px;">
         <form class="form-signin" action="update" method="post" enctype="multipart/form-data" >

            <div class="form-group">
       Project<sup>*</sup>
	      <select class="form-control" name="projectName" id="projectName"  required >
							<option value="0">Select The Project</option>
                             <option value="">{{detail.Project_Name}}</option>
			                <option value="1"> Project A</option>
                            <option value="2"> Project B</option>
                            <option value="3"> Project C</option>

          </select> <br>


          Modules<sup>*</sup>
	      <select class="form-control" name="moduleId" id="nbmoduleName"  required >
				<option value="0" selected>Assigned Module</option>
                 <option value="">{{detail.Modules}}</option>
                <option value="1" selected> Module 1</option>
                <option value="2" selected>Module 2</option>
          </select> <br>

			<div class="form-group">

          Sub Modules<sup>*</sup>
	      <select class="form-control" name="subModuleId" id="nbsubmoduleId"  required >
	          <option value="0" selected>Assigned SubModule</option>
              <option value="">{{detail.Sub_Modules}}</option>
              <option value="1" selected> SubModule 1</option>
              <option value="2" selected> SubModule 2</option>
          </select> <br>


            </div>

 <div class="form-group">
 Assigned To<sup>*</sup>
 <select class="form-control" name="assignTo" id="nbassignId"  required >
<option value="0" selected>Assigned To</option>
     <option value="">{{detail.Assigned_To}}</option>
	 {%for i in data%}

     <option value={{ i.user_id}} selected>{{i.Name}}</option>

	 {%endfor%}

 </select> <br>


            </div>

             </div>
	            <div class="form-group">
	              <label for="bug_name">Bug Tittle</label>
	              <input type="text" class="form-control" id="bugName" name="bugName"  placeholder="enter bug name"value="{{detail.Bug_Title}}" >
                    <option value="0"></option>

	            </div>

            <!--  </div>
         <div class="form-group">
          Bug Name<sup>*</sup>
	      <select class="form-control" name="bugName" id="bugName"  required >
	      <option value="UI" selected>UI</option>
	       <option value="" selected></option>
          </select> <br>
          </div> -->




       	  <div class="form-group">
            Bug Type
			  <select class="form-control" Name="BugType" id="bugType" >
			  <option value="">--Select One--</option>
                  <option value="">{{detail.Bug_Type}}</option>
			  <option value="Functionality Error">Functionality Error</option>
			  	  <option value="Communication Error">Communication Error</option>
			  	  	  <option value="Missing Command">Missing Command</option>
			  <option value="Syntactic Error">Syntactic Error</option>
			  <option value="Error Handling Error">Error Handling Error</option>
			<option value="Requirement">Requirement</option>
			<option value="Suggestions">Suggestions</option>
		      </select>
          </div>
           <div class="form-group">
              Bug Severity
			  <select class="form-control"  name="bugSeverity" id="bugSeverity" >
			  <option value="">--Select One--</option>
                  <option value="">{{Bug_Severity}}</option>
			  <option value="Critical">Critical</option>
			  <option value="Major">Major</option>
			  <option value="Medium">Medium</option>
			  <option value="low">Low</option>
			  </select>
            </div>
            <div class="form-group">
              Bug Status
			  <select class="form-control"  name="bugStatus" id="bugStatus" >
			  <option value={{Bug_Status}}>{{Bug_Status}}</option>
			  <option value="New">New</option>
			  <option value="Open">Open</option>
			  <option value="Reopen">Reopen</option>
			  <option value="Close">Close</option>
			  </select>
            </div>


<input type="hidden" name ="bugId" value={{detail.bug_id}}>

		   <div class="form-group">
	            <label for="bug description">Bug Description</label> <br>
		<textarea name="BugDescription" rows="4" cols="72" style="resize:none"> {{detail.Bug_Description}}</textarea >
               <option value=""></option>
		</div>


		      <div class="form-group">
              Round<sup>*</sup>
	      <select class="form-control"  name="round" id="round" >
	       <option value="">--Select One--</option>
              <option value="">{{detail.Round}}</option>
			  <option value="1">1</option>
			  <option value="2">2</option>
			  <option value="3">3</option>
			  </select> <br>
            </div>


			  <div class="form-group">
              <label for="file_upload">File Upload</label> <br>
			<input type="file" name="FileData"  id="id" size="40" onchange="checkFileTypeForPhoto(id)" placeholder="choose file">
                  <option value="">{{detail.FileUpload}}</option>
			</div>

			  <div class="form-group">
              <label>Depends</label> <br>
			 <input type="text" class="form-control" id="depends" name="depends" value="{{detail.Depends}}">
                  <option value=""></option>
			</div>
			  <div class="row">
      <div class=" col-sm-6">        <button class="btn  btn-default button_margin " type="submit" id="submit" style="background: #006780;color:#fff;">Submit</button>
			 </div>
 <div class=" col-sm-6"> <button class="btn  btn-default button_margin " type="submit" id="reset" style="background: #006780;color:#fff;">Reset</button>
			</div>  </div>
          </form>

		</div>
        <div class="modal-footer">
          <button type="submit" class="btn  btn-default pull-left" data-dismiss="modal"> Cancel</button>

        </div>

</body>
</html>