<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
    <form class="form-signin" action="http://127.0.0.1:5000/preset" method="post">
      <h2 class="form-signin-heading">reset your password</h2>

      <input type="hidden" class="form-control" name="email" value={{ email }}>



      <div class="form-group">

	      <label class="col-md-6">

	      </label>

	      <label class="col-md-6">

	      </label>

      </div>

      <label style="color:red"></label>

         <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" type="submit">reset</button>
      </div>
    </form>

 </body>
</html>