<html>
<body style="background-image: url('semester.jpg'); background-size: cover;">

<div style="position: relative; top: 50px;">
<center><h1>ODD SEMESTER</h1></center>
    <div class="container-fluid">
        <div class="row" style="background-color: #4dc5d2; padding: 10px; opacity: .6;">
<span style="margin-left: 100px;"><a href="1">1</a></span><br>
<!--<a href="3">3</a><br>-->
<!--<a href="5">5</a><br>-->
<!--<a href="7">7</a><br>-->
<!--<br>-->
<!--<h1>EVEN SEMESTER</h1>-->
<!--<a href="2">2</a><br>-->
<!--<a href="4">4</a><br>-->
<!--<a href="6">6</a><br>-->
<!--<a href="8">8</a><br>-->
            </div>
</div>
<p align="center" style="margin-top: 100px;"><a href="register"><b style="color:red">Register</b></a></p>
</div>
</body>
</html>
